@font-face {
    font-family: "Kalame_Bold";
    font-weight: 700;
    src: url(@/assets/fonts/Kalameh-Bold.ttf);
}

@font-face {
    font-family: "Kalame_SemiBold";
    font-weight: 600;
    src: url(@/assets/fonts/Kalameh-SemiBold.ttf);
}

@font-face {
    font-family: "Kalame_Regular";
    font-weight: 400;
    src: url(@/assets/fonts/Kalameh-Regular.ttf);
}