$colorBlueTxt: #208BEE;
$colorBorder: rgba(19, 158, 202, 0.3);
$colorBorderTitle: rgb(32 139 238 / 80%);
$colorBgHeader: rgba(250, 250, 250, 0.85);
$colorHeaderShadow: rgba(19, 29, 38, 0.05);
$colorBorderBtn: rgba(36, 52, 71, 0.15);
$colorWhite: #fff;
$colorBgLi: rgba(255, 255, 255, 0.5);
$colorDate: #CCCCCC;
$tagBackground: #DEEAF5;
$colorBoldDes: #243447;
$colorDes: #445161;
$colorAuthorName: #28394F;
$colorCaption : #8593A6;
$backgroundFooter : #232F3D;
