@import "./_font-face";
@import "./_variable";

body {
    .header {

        .toolbar {
            display: flex;
            align-items: center;

            .save {

                width: 1.5rem;
                height: 1.5rem;
                margin: 0px 14px;

            }

            .search {

                width: 1.5rem;
                height: 1.5rem;
                margin: 0px 14px;

            }

            .alert {

                width: 1.5rem;
                height: 1.5rem;
                margin: 0px 14px;

            }

            .profile {
                margin: 0px 14px;

            }
        }
    }

    .container {
        width: 50%;
        margin: auto;

        @media screen and (max-width: 600px) {
            width: 90%;
        }


        .add-article {
            display: flex;
            align-items: center;
            margin: 60px 0px 40px 0px;


            &__icon {
                width: 24px;
                height: 24px;
                margin-left: 10px;
            }

            &__text {
                font-family: "Kalame_Bold";
                font-size: 20px;
                line-height: 40px;
                color: $colorBoldDes ;
            }
        }

        .article-img {
            width: 100%;
            height: 450px;
            position: relative;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                height: 218px;

            }

            .change-style-icon {
                position: absolute;
                margin: 0px 20px;
                top: 45%;
                left: 52%;
                cursor: pointer;

                @media screen and (max-width: 600px) {
                    width: 30px;
                    height: 30px;

                }


            }

            .add-pic-icon {
                position: absolute;
                top: 45%;
                left: 42%;
                cursor: pointer;

                @media screen and (max-width: 600px) {
                    width: 30px;
                    height: 30px;

                }
            }

            &__back {
                width: 100%;
                position: absolute;
            }

            &__hover {
                width: 100%;
                position: absolute;
            }
        }



        .contents {
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 600px) {
                text-align: justify;

            }

            .icons {
                width: 42px;
                height: 42px;
                cursor: pointer;

                @media screen and (max-width: 600px) {
                    width: 32px;
                    height: 32px;
                }
            }


            &__title {
                font-size: 18px;
                line-height: 36px;
                font-family: "Kalame_SemiBold";
                color: $colorBoldDes;
                margin: 28px 0px 16px 0px;
            }

            &__tag {
                display: flex;
                align-items: center;

                &-name {
                    background-color: $tagBackground;
                    color: $colorBlueTxt;
                    font-size: 11px;
                    line-height: 19px;
                    font-family: "kalame_regular";
                    padding: 2px 8px;
                    border-radius: 4px;
                    margin-left: 16px;
                }
            }

            &__caption {
                font-size: 16px;
                line-height: 32px;
                font-family: "Kalame_Regular";
                color: $colorDes;
                margin: 28px 0px 16px 0px;
                text-align: justify;

            }
        }

        .send-article {
            color: #fff;
            width: 164px;
            height: 46px;
            background-color: $colorBlueTxt;
            border: none;
            border-radius: 4px;
            margin: 60px auto 159px auto;
            font-size: 14px;
            line-height: 24px;
            font-family: "Kalame_Bold";
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
    }

}